@value theme: "../theme.css";
@value violet from theme;
@value bradius from theme;

.btn {
  color: white;
  font-family: inherit;
  border-radius: bradius;
  margin: 8px 12px 12px 8px;
  border: 2px solid white;
  padding: 16px 24px;
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

.btn-violet {
  background-color: violet;
}

.btn-violet:after {
  content: '';
  border-radius: bradius;
  position: absolute;
  background-color: violet;
  top: 8px;
  left: 8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
}

.btn-violet:hover {
  background-color: white;
  border-color: violet;
  color: violet;
  transition: all 0.3s ease;
}

.btn:active {
  top: 8px;
  left: 8px;
  transition: all 0.3s ease;
}

.btn-violet:active:after {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
